@using EatMyMoviesSite.DTOs
@model ListMovie;

<title>Eat My Movies</title>
<meta name="description" content="Welcome to Eat My Movies - the place to discover your next cinematic obsession. By answering a few quetions we aim to find you the perfect movie for your night's viewing. Please enjoy our recommendations and have fun exploring our carefully curated lists." />
<link rel="canonical" href="https://www.eatmymovies.com/" />.

<form method="POST" action="/Movie/Detail">
    <section class="hero is-medium">
        <div>
            <div class="has-text-centered">
                <h1>
                    Discover Your Next Cinematic Obsession
                </h1>
                <p>
                    Don't know what to watch tonight?
                </p>
                <button class="button is-primary"
                        asp-controller="Movie"
                        asp-action="Recommender">
                    Find me a movie
                </button>

                <h1 class="pt-6">
                    How it works
                </h1>
                <p>
                    We ask several questions, you tell us what you're looking for and we find the perfect recommendation
                </p>


                <h1 class="pt-6">
                    Movie of the Week
                    <span class="tooltip-icon">
                        <i class="fas fa-calendar-alt"></i> <!-- FontAwesome calendar icon -->
                        <span class="tooltip-text">Updated every Friday</span>
                    </span>
                </h1>

                <article class="movie-block mt-0">
                    <a class="clickable-card" onclick="window.location='@Url.Action("Detail", "Movie")?tmdbId=@(Model.TmdbId)';">
                        <div class="columns is-mobile m-0">
                            <div class="column is-two-fifths-mobile is-one-third-desktop is-flex is-align-items-center is-justify-content-center">
                                <img class="poster" src="@Model.PosterPath" alt="@Model.Title poster" />
                            </div>
                            <div class="column is-one-third-desktop is-justify-content-center">
                                <h4 class="movie-title mb-0">@Model.Title</h4>
                                <small class="release-date">@Model.ReleaseDate</small>
                                <small>@Model.Genres</small>
                                <small>@Model.ImdbRating IMDB Rating</small>
                                <small>@Model.Runtime Minutes</small>
                                <small class="find-out-more">Find Out More</small>
                            </div>
                            <div class="column is-one-third-desktop is-hidden-mobile is-flex is-flex-direction-column is-justify-content-center">
                                <small class="card-synopsis">@Model.Synopsis</small>
                            </div>
                        </div>

                    </a>

                </article>

                <h1 class="pt-6">
                    Movie Lists
                </h1>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Top-100">Top 100</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Best-TV-Series">Best TV Series</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Christmas">Christmas</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Comedies">Comedies</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Disney">Disney</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Foreign-Films">Foreign Films</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Documentaries">Documentaries</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Standout-Soundtracks">Standout Soundtracks</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Iconic-80s">Iconic 80s</a>
                <a class="button list-button" asp-controller="List" asp-action="Details" asp-route-listTitle="Horrors">Horrors</a>
            </div>
        </div>
    </section>
</form>
