@using EatMyMoviesSite.DTOs
@model ListMovie;

<title>Eat My Movies</title>
<meta name="description" content="Welcome to Eat My Movies - the place to discover your next cinematic obsession. By answering a few quetions we aim to find you the perfect movie for your night's viewing. Please enjoy our recommendations and have fun exploring our carefully curated lists." />
<link rel="canonical" href="https://www.eatmymovies.com/" />.

<form method="POST" action="/Movie/Detail">
    <section class="hero is-medium">
        <div>
            <div class="has-text-centered">
                <h1>
                    Discover Your Next Cinematic Obsession
                </h1>
                <p>
                    Don't know what to watch tonight?
                </p>
                <button class="button is-primary"
                        asp-controller="Movie"
                        asp-action="Recommender">
                    Find me a movie
                </button>

                <h1 class="pt-6">
                    How it works
                </h1>
                <p>
                    We ask several questions, you tell us what you're looking for and we find the perfect recommendation
                </p>


                <h1 class="pt-6">
                    Movie of the Week
                    <span class="tooltip-icon">
                        <i class="fas fa-calendar-alt"></i> <!-- FontAwesome calendar icon -->
                        <span class="tooltip-text">Updated every Friday</span>
                    </span>
                </h1>

                <article class="movie-block mt-0">
                    <a class="clickable-card" onclick="window.location='@Url.Action("Detail", "Movie")?tmdbId=@(Model.TmdbId)';">
                        <div class="columns is-mobile is-hidden-desktop mb-0">
                            <div class="column is-two-fifths is-flex is-align-items-center is-justify-content-center">
                                <img class="poster" src="@Model.PosterPath" alt="@Model.Title poster" />
                            </div>
                            <div class="column is-justify-content-center">
                                <h4 class="movie-title mb-0">@Model.Title</h4>
                                <small class="release-date">@Model.ReleaseDate</small>
                                <small>@Model.Genres</small>
                                <small>@Model.ImdbRating IMDB Rating</small>
                                <small>@Model.Runtime Minutes</small>
                                @if(Model.Language != "Unknown Language"){
                                    <small>@Model.Language</small>
                                }
                                <small class="find-out-more">Find Out More</small>
                            </div>
                        </div>

                        <div class="columns is-desktop is-hidden-mobile">
                            <div class="column is-one-third">
                                <img class="poster poster-on-detail" src="@Model.PosterPath" alt="@Model.Title poster" />
                            </div>
                            <div class="column is-two-thirds is-flex is-flex-direction-column is-justify-content-center">
                                <h4 class="movie-title mb-0">@Model.Title</h4>
                                <small class="release-date">@Model.ReleaseDate</small>
                                <small>@Model.Genres</small>
                                <small>@Model.ImdbRating IMDB Rating</small>
                                <small>@Model.Runtime Minutes</small>
                                <small>@Model.Language</small>
                                <small class="find-out-more">Find Out More</small>
                            </div>
                        </div>
                    </a>

                </article>

                <h1 class="pt-6">
                    Movie Lists
                </h1>
                <button class="button list-button" asp-controller="List" asp-action="Top100">Top 100</button>
                <button class="button list-button" asp-controller="List" asp-action="Christmas">Christmas</button>
                <button class="button list-button" asp-controller="List" asp-action="Comedies">Comedies</button>
                <button class="button list-button" asp-controller="List" asp-action="Disney">Disney</button>
                <button class="button list-button" asp-controller="List" asp-action="ForeignFilms">Foreign Films</button>
                <button class="button list-button" asp-controller="List" asp-action="Documentaries">Documentaries</button>
                <button class="button list-button" asp-controller="List" asp-action="StandoutSoundtracks">Standout Soundtracks</button>
                <button class="button list-button" asp-controller="List" asp-action="Iconic80s">Iconic 80s</button>
                <button class="button list-button" asp-controller="List" asp-action="Horrors">Horrors</button>
            </div>
        </div>
    </section>
</form>
