@using EatMyMoviesSite.DTOs
@model ListMovie;

<title>Eat My Movies - Discover Your Next Cinematic Obsession</title>
<meta name="description" content="Discover your next cinematic obsession with Eat My Movies – a curated compilation of top film rankings across diverse genres. Let our suggestions guide your movie nights and ignite your passion for storytelling. Explore a world of entertainment with random genre picks!" />
<link rel="canonical" href="https://www.eatmymovies.com/" />.

<form method="POST" action="/Movie/Detail">
    <section class="hero is-medium">
        <div>
            <div class="container has-text-centered">
                <h1>
                    Discover Your Next Cinematic Obsession
                </h1>
                <p>
                    Don't know what to watch tonight?
                </p>
                <button class="button is-primary"
                        asp-controller="Movie"
                        asp-action="Recommender">
                    Find me a movie
                </button>

                <h1 class="pt-6">
                    How it works
                </h1>
                <p>
                    We ask several questions, you tell us what you're looking for and we find the perfect recommendation
                </p>


                <h1 class="pt-6">
                    Movie of the Week
                </h1>

                <article class="movie-block box mt-0">
                    <div class="columns is-mobile">
                        <div class="column is-one-third">
                            <img class="poster" src="@Model.PosterPath" alt="@Model.Title poster" />
                        </div>
                        <div class="column is-two-thirds is-flex is-flex-direction-column is-justify-content-center">
                            <h4 class="movie-title mb-0">@Model.Title</h4>
                            <small class="release-date">@Model.ReleaseDate</small>
                            <small>@Model.Genres</small>
                            <small>@Model.ImdbRating IMDB Rating</small>
                            <small>@Model.Runtime Minutes</small>
                            <a class="find-out-more" href="javascript:void(0);" onclick="window.location='@Url.Action("Detail", "Movie")?title=@(Model.Title)';">Find Out More</a>
                        </div>
                    </div>
                </article>

                <h1 class="pt-6">
                    Movie Lists
                </h1>
                <button class="button list-button" asp-controller="List" asp-action="Top100">Top 100</button>
                <button class="button list-button" asp-controller="List" asp-action="Comedies">Comedies</button>
                <button class="button list-button" asp-controller="List" asp-action="ForeignFilms">Foreign Films</button>
                <button class="button list-button" asp-controller="List" asp-action="Documentaries">Documentaries</button>
            </div>
        </div>
    </section>
</form>
