@using EatMyMoviesSite.DTOs;
@using System.Diagnostics;
@model MovieDetail;

<meta name="description" content=@Model.Overview />

@if (Model != null)
{
	<title>Eat My Movies - @Model.Title</title>
	<div class="opaque-box">
		<div class="columns">
			<div class="column is-three-fifths">
				<h1>@Model.Title</h1>
				<i class="tagline">@Model.Tagline</i><br />
				<div class="columns is-mobile">
					<div class="column">
						<strong><u>Release Date</u></strong><br />
						<strong>@Model.ReleaseDate</strong>
					</div>
					<div class="column">
						<strong><u>Genres</u></strong><br />
						@foreach (var genre in Model.Genres)
						{
							<strong>@genre<br></strong>
						}
					</div>
					<div class="column">
						<strong><u>Imdb Rating</u></strong><br />
						<strong>@Model.ImdbRating</strong>
					</div>
				</div>
			</div>

			<div class="column is-two-fifths">
				<img class="poster-on-detail" src=@("https://image.tmdb.org/t/p/w500" + Model.PosterPath) alt="@Model.Title poster" />
			</div>
		</div>
		<div class="column">
			<div class="columns is-mobile">
				<p class="synopsis">@Model.Overview</p>
			</div>
		</div>
	</div>

	<div class="columns">
		<div class="column has-text-centered trailer-container">
			<iframe class="responsive-iframe"
					src=@(Model.TrailerPath)>
			</iframe>
		</div>
	</div>
}
else
{
	<div class="opaque-box">
		<h1 class="text-danger">Movie not found</h1>
		<h2 class="text-danger">Please go back and try again</h2>
	</div>
}



